<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tesis_Nueva.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Tesis_Nueva.My.MySettings>
            <setting name="MELConnectionString" serializeAs="String">
                <value>Data Source=LARRY-LAPTOP;Initial Catalog=Test; Integrated Security=True</value>
            </setting>
            <setting name="Nro_Control_Editable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Nro_Imp_Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CodigoFabricaFact" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CabezeraNC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MELPRUEBAConnectionString" serializeAs="String">
                <value>Data Source=LARRY-LAPTOP;Initial Catalog=Test; Integrated Security=True</value>
            </setting>
            <setting name="DocsPrinter" serializeAs="String">
                <value>HP Laserjet Professional P1606pn</value>
            </setting>
            <setting name="FactPrinter" serializeAs="String">
                <value>EPSON LX-300+/II (Copiar 1)</value>
            </setting>
            <setting name="NombreEmpresa" serializeAs="String">
                <value>Pruebas</value>
            </setting>
            <setting name="Empresa" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="UserLogin" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="PedidosExpress" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmailEnvio" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailSMTP" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="EmailSMTPPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="EmailPass" serializeAs="String">
                <value />
            </setting>
            <setting name="RIFEmpresa" serializeAs="String">
                <value>RIF</value>
            </setting>
            <setting name="NombreEmpresaLargo" serializeAs="String">
                <value>Nombre</value>
            </setting>
            <setting name="Test" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
        </Tesis_Nueva.My.MySettings>
    </userSettings>
</configuration>
